/* Asegúrate de que el fondo y los colores sean consistentes con los otros componentes */
.chat-nav {
    background-color: #053621;
    color: #D1D7DB;
    padding: 16px; /* 1rem = 16px */
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #1E1E1E;
    height: 10vh;
}

.user-info {
    display: flex;
    align-items: center;
    width: 100%;
}

.arrow {
    margin-right: 16px; /* Espacio entre el ícono y la imagen del perfil */
    cursor: pointer;
}

.arrow i {
    font-size: 24px; /* Tamaño del ícono */
    color: #00BFA5; /* Color consistente con el diseño */
}

.profile-pic {
    margin-right: 16px; /* Espacio entre la imagen del perfil y el nombre */
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover; /* Asegura que la imagen se ajuste bien dentro del círculo */
    border: 2px solid #00BFA5; /* Borde que coincide con el color del diseño */
}

.username-box {
    font-size: 24px; /* Tamaño del texto del nombre del usuario */
    font-weight: bold;
    color: #D1D7DB;
}

