.login-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2A2F32;
    width: 100%;
    padding: 15px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-header h2 {
    color: #00BFA5;
    font-size: 30px;
}