
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.fonts{
    color: white;
    font-size: 20px;
}

div .yo{
    display: flex;
    justify-content: end;
}

div .otro{
    display: flex;
    justify-content: start;
}


.yo .burbuja{
    background-color: #053621;
}

div .burbuja{
    background-color: #202C33 ;
    max-width: 500px;
    border-radius: 20px;
    overflow: hidden;
    padding: 10px 15px;
    max-height: 200px;
    margin: 15px 50px;
}

div .burbuja .date-hour-state{
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 5px;
}

div .burbuja .date-hour-state .date-hour{
    display: flex;
    padding-left: 55px;
    justify-content: end;
    gap: 5px;
    padding-bottom: 3px;
}

.burbuja .date-hour .date{
    font-size: 10px;
}

.burbuja .date-hour .hour{
    font-size: 10px;
}

div .burbuja .author-name .author{
    color: rgb(62, 179, 247);
}

div .burbuja .messageText .messageText{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    
}